.App {
  text-align: center;
  background-color: #eaeaf3;
  height: 98.15vh;
}

.TableHD {
  background-color: #eaeaf3;
  margin: 0 auto;
  width: 60%;
  min-width: 60%;
  height: 500px;
  contain-intrinsic-size: 50%;
  box-shadow: 0px 0px 5px #888;
  text-align: center;
  border-radius: 10px;
  margin-top: -100px;
  border-collapse: collapse;
  overflow: hidden;
  position: sticky;
}
.foot {
  background-color: #282c34;
}
table td {
  font-family: 'Calibri', sans-serif;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
  border-collapse: collapse;
}
table tr:hover {
  background-color: rgba(202, 199, 199, 0.674);
}
table th {
  font-family: 'Calibri', sans-serif;
  color: #3469fd;
  padding: 12px 8px;
  cursor: pointer;
  background-color: #f2f2f2;
  text-align: center;
}
table th:hover {
  background-color: rgba(202, 199, 199, 0.674);
}
.link-styles {
  display: block;
  color: inherit;
  text-decoration: inherit;
}
.button {
  display: 'flex';
  width: '110px';
  margin: 'auto';
}
.TableTop {
  font-family: 'Calibri', sans-serif;
  color: #3469fd;
  background-color: #f2f2f2;
  padding: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 7px;
  top: 5px;
  right: 10px;
  position: relative;
  box-shadow: 0px 0px 5px #888;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  display: 'flex';
  height: '100%';
  align-content: 'center';
  text-justify: 'center';
  margin: '0 auto';
  height: 22px;
  border-radius: 10px;
}
.TablePage {
  font-family: 'Calibri', sans-serif;
  color: #3469fd;
  background-color: #f2f2f2;
  width: fit-content;
  height: 25px;
  padding: 4px;
  top: 5px;
  display: flex;
  position: relative;
  box-shadow: 0px 0px 5px #888;
  text-align: center;
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
  margin: auto;
  display: 'flex';
  padding-inline-start: 8px;
  padding-inline-end: 7px;
}

.HeaderMain {
  font-family: 'Didot', Arial, Helvetica, sans-serif;
  text-align: right;
  width: 360px;
  height: auto;
  background-color: rgb(27, 105, 165);
  position: relative;
  padding: 4px;
  padding-top: 10px;
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.HeaderMain img {
  width: 200px;
  padding-left: 50px;
}
.TableHeader {
  font-family: 'Didot Extrabold', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 40%;
  height: 25px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.List {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.FormSubmit {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color: white;
  border: 2px solid rgb(211, 209, 209);
  text-align: center;
  background-color: #336699;
  width: 18%;
  height: 25px;
  padding-top: 2px;
  padding-left: 5px;
}
.FormSubmit2 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color: white;
  border: 2px solid rgb(211, 209, 209);
  text-align: center;
  background-color: #336699;
  width: 22.7%;
  height: 25px;
  padding-top: 2px;
  padding-left: 5px;
}

.formControl {
  text-align: right;
  flex-direction: column;
  display: grid;
  justify-content: center;
  width: 300 px;
  align-items: right;
}
.FormVersion1 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color: white;
  border: 2px solid rgb(211, 209, 209);
  text-align: center;
  background-color: #336699;
  width: 15%;
  height: 50px;
  padding-top: 2px;
  padding-left: 5px;
  text-align: right;
  flex-direction: column;
  display: grid;
  justify-content: center;
  width: 300 px;
  align-items: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
